* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto" sans-serif;
}

nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: rgb(5, 80, 20);
}

nav ul {
  display: flex;
}

nav ul li {
  padding: 0 1rem;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.344rem;
  transition: background-color 800ms;
}

nav ul li a:hover {
  background-color: rgb(210, 41, 41);
}

